@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Old+Standard+TT&family=Roboto:wght@500&display=swap');
// *{
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     background-color: #363348;
// }
// li,a,button{
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 500px;
//     font-size: 16px;
//     color: #edf0f1;
//     text-decoration: none;
// }
// header{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 10%;
//     overflow: hidden;

// }
// .header-logo{
//     cursor: pointer;
    
    
    
    
// }
// .ul_links{
//     list-style: none;
//     li{
//         display: inline-block;
//         padding: 0px 20px;
//         a{
//             transition: all 0.3s ease 0s;
//         }

//     }

// }





// .ul_links a:hover{
//     color: rgba(7, 9, 54, 0.525);
// }
// button{
//     padding: 9px;
//     background-color: rgba(5, 6, 36, 0.527);
//     border: none;
//     border-radius: 50px;
//     cursor: pointer;
//     transition: all 0.3s ease 0s;

// }
// button:hover{
//     background-color: rgba(0,136,169,0);
// }

.background{
    background-color: #363348;
  box-sizing: border-box;
}
.nav-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 40px;

    &__logo{
        height: 106px;
    }

    .nav-block{
        width: 600px;

        .nav-items{
            display: flex;
            justify-content: space-between;
            align-items: center;


    li{
        display: flex;
        padding: 20px;
    }
            a{
                text-decoration: none;
                color: white;
            }

            
        }
    }

    .ul_links a:hover{
    color: rgba(7, 9, 54, 0.525);
}
button{
    padding: 9px;
    background-color: rgba(5, 6, 36, 0.527);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: rgba(0,136,169,0);
}
}